<!DOCTYPE html>
<html>
<head>
<title> Help</title>
<link rel="stylesheet" href="./css/styles.css">
</head>
<body>
  {{>header}}
<p class="navbar-brand navbar-default navbar-nav">{{helpText}}</p>
{{>footer}}
</body>
</html>
